/* Google Fonts Import Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: row;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #11101d;
  z-index: 1;
  transition: all 0.5s ease;
  overflow: scroll;
}

.sidebar.close {
  width: 60px;
}
.sidebar .logo-details {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 15px;
  gap: 10px;
}
.sidebar .logo-details i {
  font-size: 30px;
  color: #fff;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .dropdown-container {
  transition: 0.2s ease;
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .dropdown-container {
  transition: 0.3s ease;
  transition-delay: 0.1s;
  margin-left: -20px;
}
.sidebar.close .logo-details .logo_name {
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links {
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links {
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}
.sidebar.close ~ .home-section {
  left: 78px;
  width: calc(100% - 78px);
}
.bx-menu {
  cursor: pointer;
  color: #fff;
}
@media (max-width: 250px) {
  .dropdown-container {
    display: none;
  }
  .sidebar {
    width: 78px;
  }
  .sidebar.close {
    width: 0;
  }
  .sidebar.close ~ .home-section {
    width: 100%;
    left: 0;
  }
}

.main-content {
  width: 100%;
  margin-left: 70px;
  margin-right: 10px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  transition: all 0.5s ease;
}

.main-content.close {
  margin-left: 270px;
}

.products-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
  max-width: 1000px;
  padding: 20px;
}

.main-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btn-add-product {
  margin: 20px;
  padding: 1.5em 2em;
  border: none;
  border-radius: 7px;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #ef4444;
  color: white;
  box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}
.btn-add-product:hover {
  filter: brightness(1.2);
  box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.5);
}

.btn-add-product:active {
  transform: scale(0.98);
}
